<% include partials/header %>
<div class="container" style="margin-top: 30px">
	<div class="card mb-3">
	  <img class="card-img-top" src="/85-ci-hublotmood.jpg" alt="Card image cap">
	  <div class="card-img-overlay" style="color:white">
	  	<div class="card-header">
	  		<h1><a href="/" style="color: inherit;font-size: 50px">Watch Store</a></h1>
	  	</div>
	  	<div class="row">
		  	<div class="card-text col-md-4" style="font-size: 17px">
		  		<p>Do aute ex quis in in ut est proident laboris ex consectetur culpa cupidatat in qui. Dolor nisi eu cupidatat anim excepteur aliqua ut elit ut anim ea aliquip magna et. Culpa deserunt aliquip est id laboris non irure sunt deserunt consectetur et anim irure elit laborum.</p>
		  	</div>  		
	  	</div>
	  </div>
	  <div class="card-body">
	  	<div class="row">
	  		<div class="col-md-6">
	  			<p>Dolor officia ad non tempor mollit sint aliquip ex non voluptate culpa dolor. Dolore et dolore commodo cupidatat cupidatat ut reprehenderit anim reprehenderit est dolor qui aute mollit minim irure. Do aliquip enim commodo magna id enim ex dolor reprehenderit sed sed laboris.</p>
	  		</div>
	  		<div class="col-md-6">
	  			<p>Aute laboris ullamco culpa nisi commodo ex officia labore non enim id sit eu id. Laboris labore consectetur sed qui pariatur commodo in duis sit pariatur est consequat elit consequat consequat in minim exercitation.</p>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-12">
	  			<p>Tempor incididunt est eu officia duis quis sed eiusmod ad reprehenderit dolore dolore ut nisi. Non eu sit ad adipisicing nulla adipisicing cillum nostrud elit commodo amet mollit. Sed id elit nostrud officia dolore esse velit veniam mollit sit sunt. Fugiat cupidatat consectetur quis adipisicing voluptate elit dolor elit fugiat nisi exercitation enim amet quis adipisicing dolor in occaecat. Sed dolor duis amet officia ullamco excepteur in aliquip cupidatat commodo consequat laboris. Ad eiusmod labore sint non sit consectetur non veniam commodo eu id veniam culpa in labore nulla laborum.</p>
	  		</div>	
	  	</div>
	  </div>
	</div>
</div>
<% include partials/footer %>