<% include ../partials/header %>

<div class="container adminProductAdding">
	<form action='/add/product' method='post'>
		  <div class="form-group">
		    <label>Line of products</label>
		      <select class="form-control" required name='line'>
		        <option selected>Choose...</option>
		        <% lines.forEach(function(line){ %>
		        <option value='<%=line._id%>'><%=line.name%></option>
		        <% }); %>
		      </select>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-4">
		      <label>Model</label>
		      <input type="text" class="form-control" name='model' placeholder="Watch Model" required>
		    </div>
		    <div class="form-group col-md-4">
		      <label>Manufacturer</label>
		      <input type="text" class="form-control" name='manufacturer' placeholder="Manufacturer" required>
		    </div>
		    <div class="form-group col-md-4">
		      <label>Price</label>
		      <input type="Number" class="form-control" name='price' placeholder="Price in USD" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label>Image</label>
		    <input type="text" class="form-control" name='image' placeholder="Image URL" required>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-3">
		      <label>Water Resistance</label>
		      <input type="number" class="form-control" name='waterResist' placeholder="Water Resistance in meters">
		    </div>
		    <div class="form-group col-md-3">
		      <label>Gender</label>
		      <select class="form-control" name='gender' required>
		        <option selected>Choose...</option>
		        <option>Unisex</option>
		        <option>Male</option>
		        <option>Female</option>
		      </select>
		    </div>
		    <div class="form-group col-md-3">
		      <label>Watch Type</label>
		      <select class="form-control" name='watchType' required>
		        <option selected>Choose...</option>
		        <option>Analog</option>
		        <option>Digital</option>
		        <option>Other</option>
		      </select>
		    </div>
		    <div class="form-group col-md-3">
		      <label>Warranty</label>
		      <select class="form-control" name='warranty' required>
		        <option selected>Choose...</option>
		        <option>None</option>
		        <option>1 Year</option>
		        <option>2 Years</option>
		        <option>3 Years</option>
		        <option>5 Years</option>
		        <option>10 Years</option>
		        <option>Lifetime</option>
		      </select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label>Description</label>
		    <textarea class="form-control" name='description' aria-label="With textarea" rows='3' placeholder="Additional Description (optional)"></textarea>
		  </div>
		  <button type="submit" class="btn btn-success btn-block">Add new watch</button>
	</form>
</div>

<% include ../partials/footer %>